body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.652rem;
    margin: 50px auto 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 7px;
    width: 5%;
}

a {
    color: #11999E;
}



.top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}

.pro {
    text-decoration: underline;
}

.programmer {
    font-weight: normal;
}

.bottom-cloud {
    bottom: 300px;
    left: 300px;
    position: absolute;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile {
    padding-top: 50px;
}

.profile-description {
    width: 30%;
    margin: 50px auto 0;
    line-height: 2;
    padding-bottom: 100px;
    color: #40514E;
}


.skills {
    margin: 100px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}


.developer-img {
    width: 25%;
    float: left;
    margin-right: 30px;

}

.chess-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me {
    margin: 100px auto;
}

.contact-line {
    margin: 50px auto;
}

.contact-description {
    width: 40%;
    margin: 50px auto;
    line-height: 2;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66BFBF), to(#11999e));
  background-image: linear-gradient(to bottom, #66BFBF, #11999e);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}




.bottom-container {
    background-color: #66BFBF;
    padding: 40px 0;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    color: #11999E;
    font-size: 400;

}

.copyright {
    color: #EAF6F6;
    margin: 30px auto 0;
    font-size: 12px;
}
